
<div class="container text-center border border-dark border-top-0 border-right-0 border-left-0 mb-5" id="siteHeader">
</div>

<div class="container mb-5 text-center">
    <div class="row justify-content-center">
        <div class="col-2">
            <a href="http://instagram.com/roleplayinggamescast" target="_blank">
                <img class="img-fluid" src={{"./insta.png" | absURL}} alt="Instagram">
            </a>
        </div>
        <div class="col-2">
            <a href="http://facebook.com/roleplayinggamescast" target="_blank">
                <img class="img-fluid" src={{"./facebook.png" | absURL}} alt="Facebook">
            </a>
        </div>
        {{/*my-auto for vertical alignment*/}}
        <div class="col-2 my-auto">
            <p>© 2018</p>
        </div>
        <div class="col-2">
            <a href="http://twitter.com/cast_role" target="_blank">
                <img class="img-fluid" src={{"./twitter.png" | absURL}} alt="Twitter">
            </a>
        </div>
        <div class="col-2">
            <a href="https://www.youtube.com/channel/UCnr2mUcYUqN6YSHm3dziGsQ" target="_blank">
                <img class="img-fluid" src={{"./youtube.png" | absURL}} alt="YouTube">
            </a>
        </div>
    </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>